.modal-form {
  @include flex($fd: column, $rg: 5px);
  border-radius: 5px;
  background-color: $modal-background;

  &__many-erros {
    margin-bottom: 30px;
  }

  &__button {
    margin-top: 25px !important;
    min-width: 100px;
  }

  .mat-form-field {
    width: 300px !important;
  }

  .link-container {
    justify-self: flex-end;
    margin-bottom: 5px;
    &__link {
      margin-left: 5px;
      color: blue;
      cursor: pointer;
    }
  }
  &__group {
    @include flex($ai: flex-start);
  }
}
