<section class="checklist-container">
  <mat-checkbox *ngIf="!isEditable"
   class="example-margin"
   [checked]="point.done"
   (change)="update(checkbox.checked)"
   #checkbox>
    {{point.title}}
  </mat-checkbox>
  <div *ngIf="isEditable" class="checklist-input">
    <mat-form-field appearance="fill">
      <mat-label>Enter point title</mat-label>
      <input matInput #checkboxTitle [value]="point.title"/>
      <button
        type="button"
        mat-button
        class="btn"
        [matTooltip]="'list.tooltipSubmit' | translate"
        (click)="updatePointTitle(checkboxTitle.value)"
      >
        <mat-icon> done </mat-icon>
      </button>
      <button
        type="button"
        mat-button
        class="btn"
        [matTooltip]="'list.tooltipCancel' | translate"
        (click)="isEditable=!isEditable"
      >
        <mat-icon> close </mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="buttons-container" *ngIf="!isEditable">
  <button
  type="button"
  mat-button
  class="btn"
  [matTooltip]="'list.tooltipSubmit' | translate"
  (click)="isEditable=!isEditable"
>
  <mat-icon> edit </mat-icon>
</button>
<button
type="button"
mat-button
class="btn"
[matTooltip]="'list.tooltipCancel' | translate"
(click)="deletePoint()"
>
<mat-icon> delete </mat-icon>
</button>
</div>
</section>
