@import 'src/styles/abstracts/_mixins';

:host {
  align-self: flex-start;
  width: 100%;
}

.checklist-container {
  @include flex($jc: space-between);
  width: 100%;
}

.checklist-input {
  margin-top: 5px;
  @include flex();
}

.mat-input-element {
  width: 70%;
}

.btn {
  font-weight: 400;
  padding: 0;
  min-width: unset;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
