@import "src/styles/abstracts/_mixins";

:host {
  width: 100%;
  @include flex($fd: column, $rg: 30px, $jc: flex-start);
}

a {
  text-decoration: none;
}

h1 {
  font-size: 26px;
  font-weight: 600;
}

h3 {
  margin: 0;
}

.title-container {
  margin-top: 30px;
  @include flex($fd: column);
}

.workspace-header {
  width: 100%;
  @include flex($rg: 20px, $cg: 20px, $ai: flex-start);
  padding: 10px;
}

.basic-height {
  height: 50px;
}

.search {
  @include flex();
}

.mat-input-element {
  width: 70%;
}

.btn {
  font-weight: 400;
  padding: 0;
  min-width: unset;
  opacity: 0.5;
  position: absolute;
  right: 0;
  bottom: 0;

  &:hover {
    opacity: 1;
  }
}

.mat-grid-list {
  width: 100%;
}

.grid-content-container {
  width: 750px;
  padding: 15px 0 0 15px;
  @include flex($fd: column, $jc: flex-start);
  height: 100%;
}

.grid-content-title {
  font-size: 20px;
}

.grid-content-text {
  font-size: 15px;
}

.board-preview-container {
  padding: 20px;
  margin: 0 auto;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.board-preview {
  width: 200px;
  @include flex();
  padding: 10px 0;

  &:hover {
    background-color: #efefef;
    cursor: pointer;
  }
}

.tab-content {
  text-align: center;
  font-size: 14px;
  margin-top: 25px;
  height: 100px;
}

.mat-tab-group {
  width: 1200px;
  margin: 0 auto;
  height: 150px;
}

.expansion-panel-content {
  @include flex();
}
