@import "src/styles/abstracts/_mixins.scss";

.confirm {
  &__dialog {
    position: relative;
    @include flex($fd: column);
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    min-width: 200px;
  }

  &__question {
    font-size: 18px;
    font-weight: 500;
  }
  &__buttons {
    @include flex($cg: 10px);
  }
}
