@import "src/styles/abstracts/_mixins";

:host {
  @include flex($jc: space-between);
  border: 1px solid lightgrey;
  box-shadow: 0 5px 5px -5px #333;
  border-radius: 5px;
  padding: 0 5px;
  flex-shrink: 0;
  flex-basis: 200px;

  &:hover {
    background-color: #efefef;
  }
}

.card-title {
  margin: 0;
  font-size: 15px;
}

.btn {
  padding: 0;
  min-width: unset;
  opacity: 0.5;

  &:hover {
  opacity: 1;
  }
}
