@import "src/styles/abstracts/_mixins.scss";

:host {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.13);
}

.loading {
  &__modal {
    @include position;
    @include flex($cg: 10px);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
}
