@import "src/styles/abstracts/_mixins.scss";

.file {
  &__preview {
    position: relative;
    height: 90px;
    width: 90px;
    background-size: cover;
    border-radius: 5px;
  }
  &__buttons {
    @include position($center: false, $top: -5px, $left: 5px);
    display: none;
    :hover & {
      display: block;
    }
    button {
      height: auto;
      width: auto;
    }
  }
}
