<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>{{isLogin ? 'Login' : 'Registration'}}</h2>
  <div class="change-form">
    <span>{{ isLogin ? "Dont't have an account?" : 'Already have an account?' }}</span>
    <span class="change-form__button" (click)="changeForm()">{{ isLogin ? "registration" : 'login' }}</span>
  </div>
  <mat-form-field *ngIf="!isLogin">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="form.hasError('required', 'name')">Please enter your name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>login</mat-label>
    <input matInput formControlName="login" (input)="availableLogin = true">
    <mat-error *ngIf="form.hasError('required', 'login')">Please enter a login</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>password</mat-label>
    <input matInput formControlName="password">
    <mat-error *ngIf="form.hasError('required', 'password')">Please enter a password</mat-error>

    <mat-error *ngIf="!form.hasError('required', 'password') && (form.hasError('length', 'password') ||
    form.hasError('case', 'password') || form.hasError('symbols', 'password'))"> Your password isn't
      strong enough</mat-error>
    <mat-error *ngIf="!form.hasError('required', 'password') && form.hasError('length', 'password')">{{
      form.getError('length', 'password') }}
    </mat-error>
    <mat-error *ngIf="!form.hasError('required', 'password') && form.hasError('case', 'password')">{{
      form.getError('case', 'password') }}
    </mat-error>
    <mat-error *ngIf="!form.hasError('required', 'password') && form.hasError('symbols', 'password')">{{
      form.getError('symbols', 'password') }}
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="!correctAuth">Wrong User & Password combination</mat-error>
  <mat-error *ngIf="!availableLogin">User with this login is already registered</mat-error>
  <button class="form__button" type="submit" mat-raised-button color="accent" [disabled]="form.invalid">{{isLogin ?
    'Login' : 'Create
    User'}}</button>
</form>
