<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <div class="drawer-content">
      <h3>{{ "workspace.sidebarTitle" | translate }}</h3>
      <button mat-menu-item *ngFor="let board of (boards$ | async)!">
        {{ board.title }}
      </button>
    </div>
  </mat-drawer>
  <div class="drawer-content-container">
    <app-loading [trigger]="bordsLoading$"></app-loading>
    <div class="board-header">
      <div class="styled-container">
        <button type="button" mat-raised-button (click)="drawer.toggle()"
          (click)="sidebarOpenState = !sidebarOpenState">
          <mat-icon aria-hidden="false">{{
            sidebarOpenState ? "chevron_left" : "chevron_right"
            }}</mat-icon>
        </button>
        <a routerLink="" mat-raised-button class="back-btn">
          {{ "workspace.backButton" | translate }}
          <span class="decorated-text">{{ "workspace.joke" | translate }}</span>
          {{ "workspace.main" | translate }}
        </a>
      </div>
      <p class="board-title" *ngIf="currentBoard$ | async as board">
        {{ board.title }}
      </p>
      <div class="styled-container">
        <button type="button" mat-raised-button>
          <mat-icon> star</mat-icon>
        </button>
        <button type="button" mat-raised-button>
          {{ "workspace.showMenu" | translate }}
        </button>
      </div>
    </div>
    <div class="board-container">
      <app-board></app-board>
    </div>
  </div>
</mat-drawer-container>
