<div class="header__lang-slider">
  <span class="header__lang-label" (click)="setLangEn()">EN</span>
  <mat-slide-toggle class="example-margin" (change)="changeLang($event)" [checked]="langTogglerValue">
  </mat-slide-toggle>
  <span class="header__lang-label" (click)="setLangRu()">RU</span>
</div>
<div class="header__block">
    <button class="btn" *ngIf="isLogged && isLoaded" mat-flat-button (click)="openBoardModal()">
      {{ 'header.createBoardButton' | translate }}
    </button>
  <button class="btn" mat-flat-button [matMenuTriggerFor]="user" *ngIf="isLoaded">
    {{ !!userData ? userData.login : ('header.loginButton' | translate) }}
  </button>
  <mat-menu #user="matMenu" xPosition="before">
    <button mat-menu-item *ngIf="isLogged" (click)="openUserEditPage()">
      {{ 'header.editProfile' | translate }}
    </button>
    <button mat-menu-item *ngIf="isLogged" (click)="logout()">
      {{ 'header.logout' | translate }}
    </button>
    <button mat-menu-item *ngIf="isLogged" (click)="deleteUser()">
      {{ 'header.removeUser' | translate }}
    </button>
    <button mat-menu-item *ngIf="!isLogged" (click)="openLoginPage()">
      {{ 'header.signIn' | translate }}
    </button>
    <button mat-menu-item *ngIf="!isLogged" (click)="openRegistrationPage()">
      {{ 'header.signUp' | translate }}
    </button>
  </mat-menu>
</div>
