<form class="modal-form" [formGroup]="taskForm" (submit)="onSubmit()">
  <h3 class="modal-form__title">
    {{title | translate}}
  </h3>
  <mat-form-field>
    <mat-label>
      {{'taskModal.labelTitle' | translate}}
    </mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="taskForm.hasError('required', 'title')">
      {{ "taskModal.errorMessageTitle" | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      {{'taskModal.labelDescription' | translate}}
    </mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="taskForm.hasError('required', 'description')">
      {{ "taskModal.errorMessageDescription" | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>{{'taskModal.labelMembers' | translate}}</mat-label>
    <mat-chip-list #chipList aria-label="Members selection">
      <mat-chip *ngFor="let user of selectedUsers" (removed)="remove(user)">
        {{ user }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input #memberCtrl formControlName="users" [matAutocomplete]="auto" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let user of availableUsers$ | async" [value]="user">
        {{ user.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button type="button" mat-raised-button color="basic" (click)="showCheckboxConstructor()">Add a checklist</button>
  <div *ngIf="checklistActions" class="checklist-input">
    <mat-form-field appearance="fill">
      <mat-label>Enter point title</mat-label>
      <input matInput #checkboxTitle />
      <button
        type="button"
        mat-button
        class="btn"
        [matTooltip]="'list.tooltipSubmit' | translate"
        (click)="addPoint(checkboxTitle.value)"
      >
        <mat-icon> done </mat-icon>
      </button>
      <button
        type="button"
        mat-button
        class="btn"
        [matTooltip]="'list.tooltipCancel' | translate"
        (click)="checklistActions = !checklistActions"
      >
        <mat-icon> close </mat-icon>
      </button>
    </mat-form-field>
  </div>
  <app-point *ngFor="let point of points$ | async" [point]="point"></app-point>
  <button class="modal-form__button" type="submit" mat-raised-button color="accent" [disabled]="taskForm.invalid">
    {{ button | translate }}
  </button>
</form>
