@import "src/styles/abstracts/_mixins";

:host {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

.modal-form__title {
  font-size: 18px;
  font-weight: 500;
}

.checklist-input {
  margin-top: 5px;
  @include flex();
}

.mat-input-element {
  width: 70%;
}

.btn {
  font-weight: 400;
  padding: 0;
  min-width: unset;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.points-container {
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}

.files-holder {
  display: flex;
  align-self: flex-start;
  gap: 7px;
  max-width: 290px;
  flex-wrap: wrap;
}

::ng-deep {
  .users-select {
    width: 100%;
    ng-multiselect-dropdown {
      width: 250px;
    }
    .selected-item {
      max-width: none !important;
    }
    .dropdown-btn {
      @include flex;
    }
  }
}
