@import "src/styles/abstracts/_mixins";

:host {
  height: 100%;
  padding: 10px 5px;
  @include flex($cg: 10px, $jc: flex-start);
  box-shadow: 0 5px 5px -5px #333 inset;
  overflow-x: auto;
}

.btn {
  align-self: flex-start;
}
