<div class="search-modal">
  <div class="search-modal__left">
    <input type="text" [(ngModel)]="request" (change)="search()">
    <div class="search-modal__results">
      <div *ngFor="let task of results!" class="search-modal__item" (click)="showTask(task)">
        <p>{{task.title}}</p>
        <p>{{task.description | slice: 10}}</p>
      </div>
      <p class="search-modal__nothing" *ngIf="results.length === 0">ничего не нашлось</p>
    </div>
  </div>
  <div *ngIf="results.length > 0" class="search-modal__right">
    <app-task-modal></app-task-modal>
  </div>
</div>
