<div class="footer__block footer__block-authors">
  <p class="footer__copyright">&copy;2022</p>
  <a class="footer__link" href="https://github.com/troitskiyandrew">{{
    'footer.troitskiy' | translate
  }}</a>
  <a class="footer__link" href="https://github.com/sasaafanasienka">{{
    'footer.afanasenka' | translate
  }}</a>
  <a class="footer__link" href="https://github.com/shikile">{{
    'footer.karpovich' | translate
  }}</a>
</div>
<div class="footer__block">
  <a class="footer__link" href="https://rs.school/angular/">
    <img
      class="footer__link-img"
      src="https://rs.school/images/rs_school_js.svg"
      alt="course logo"
    />
  </a>
</div>
