@import "src/styles/abstracts/_mixins";

:host {
  grid: 1 auto;
  align-self: stretch;
}
.board-preview {
 height: 100%;
  width: 200px;
  @include flex($fd: column, $jc: flex-start);
  padding: 10px 0;

  &:hover {
    background-color: #efefef;
    cursor: pointer;
  }
}

.basic-border {
  border: 1px solid lightgrey;
  border-radius: 5px;
}
