@import "src/styles/abstracts/_mixins";

:host {
  grid: 1 auto;
  align-self: stretch;
  position: relative;
}

h3 {
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 2;
  text-decoration: underline;
}

.preview-container {
  position: absolute;
  top: 0;
  right: 0;
}

.board-preview {
  overflow-y: auto;
  max-height: 350px;
  height: 100%;
  @include flex($fd: column, $jc: flex-start);
  padding: 20px 0;

  &:hover {
    background-color: #efefef;
    cursor: pointer;
  }
}

.btn {
  padding: 0;
  min-width: unset;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .board-preview {
    padding: 10px 0;
  }
}
