<div class="list-header">
  <p class="list-title" matTooltip="Edit">List title</p>
  <div class="list-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        Add card
      </button>
      <button mat-menu-item>
        Move list
      </button>
      <button mat-menu-item>
        Delete list
      </button>
    </mat-menu>
  </div>
</div>
<app-card></app-card>
<button mat-button class="btn" (click)="openTaskModal()">
  <mat-icon>add</mat-icon>
  Add a card
</button>
