<div class="list-header">
  <p *ngIf="!isEditable" class="list-title" matTooltip="Edit" (click)="isEditable=!isEditable">{{
  changedTitle ? changedTitle : "Default list title"
  }}</p>
  <div *ngIf="isEditable" class="edit-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter new title</mat-label>
      <input matInput #changedTitle>
      <button type="button" mat-button class="btn" matTooltip="Submit" (click)="changeTitle(changedTitle.value)">
        <mat-icon>
          done
        </mat-icon>
      </button>
      <button type="button" mat-button class="btn" matTooltip="Cancel" (click)="isEditable=!isEditable">
        <mat-icon>
          close
        </mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-button class="btn">
    <mat-icon>delete</mat-icon>
  </button>
</div>
<app-card></app-card>
<button mat-button class="btn" (click)="openTaskModal()">
  <mat-icon>add</mat-icon>
  Add a card
</button>
